In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
data = pd.read_csv('beer_profile_and_ratings.csv')

In [36]:
data.head()

,Name,Style,Brewery,Beer Name (Full),Description,ABV,Min IBU,Max IBU,Astringency,Body,...,Fruits,Hoppy,Spices,Malty,review_aroma,review_appearance,review_palate,review_taste,review_overall,number_of_reviews
0,Amber,Altbier,Alaskan Brewing Co.,Alaskan Brewing Co. Alaskan Amber,"Notes:Richly malty and long on the palate, wit...",5.3,25,50,13,32,...,33,57,8,111,3.498994,3.636821,3.556338,3.643863,3.847082,497
1,Double Bag,Altbier,Long Trail Brewing Co.,Long Trail Brewing Co. Double Bag,"Notes:This malty, full-bodied double alt is al...",7.2,25,50,12,57,...,24,35,12,84,3.798337,3.846154,3.904366,4.024948,4.034304,481
2,Long Trail Ale,Altbier,Long Trail Brewing Co.,Long Trail Brewing Co. Long Trail Ale,Notes:Long Trail Ale is a full-bodied amber al...,5.0,25,50,14,37,...,10,54,4,62,3.409814,3.667109,3.600796,3.631300,3.830239,377
3,Doppelsticke,Altbier,Uerige Obergärige Hausbrauerei GmbH / Zum Uerige,Uerige Obergärige Hausbrauerei GmbH / Zum Ueri...,Notes:,8.5,25,50,13,55,...,49,40,16,119,4.148098,4.033967,4.150815,4.205163,4.005435,368
4,Sleigh'r Dark Doüble Alt Ale,Altbier,Ninkasi Brewing Company,Ninkasi Brewing Company Sleigh'r Dark Doüble A...,Notes:Called 'Dark Double Alt' on the label.Se...,7.2,25,50,25,51,...,11,51,20,95,3.625000,3.973958,3.734375,3.765625,3.817708,96

In [37]:
data.describe()

,ABV,Min IBU,Max IBU,Astringency,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty,review_aroma,review_appearance,review_palate,review_taste,review_overall,number_of_reviews
count,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000,3197.000000
mean,6.526688,21.180482,38.986863,16.515796,46.129496,17.055990,36.364404,58.270879,33.145449,1.017204,38.529559,40.924617,18.345637,75.330935,3.638789,3.754393,3.660428,3.702496,3.747522,233.284955
std,2.546997,13.242242,21.355281,10.410661,25.947842,17.331334,25.791152,34.281310,35.780172,2.132651,32.296646,30.403641,23.756582,39.909338,0.503209,0.403416,0.449937,0.510361,0.444288,361.811847
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.509615,1.571429,1.285714,1.214286,1.136364,1.000000
25%,5.000000,15.000000,25.000000,9.000000,29.000000,6.000000,17.000000,33.000000,11.000000,0.000000,12.000000,18.000000,4.000000,45.000000,3.422559,3.604651,3.470021,3.500000,3.566667,23.000000
50%,6.000000,20.000000,35.000000,14.000000,40.000000,11.000000,31.000000,54.000000,22.000000,0.000000,29.000000,33.000000,10.000000,73.000000,3.720183,3.833333,3.741667,3.791667,3.830239,93.000000
75%,7.600000,25.000000,45.000000,21.000000,58.000000,22.000000,52.000000,77.000000,42.000000,1.000000,60.000000,56.000000,23.000000,103.000000,3.978000,4.000000,3.965587,4.033333,4.032847,284.000000
max,57.500000,65.000000,100.000000,81.000000,175.000000,139.000000,150.000000,263.000000,284.000000,48.000000,175.000000,172.000000,184.000000,239.000000,5.000000,4.666667,5.000000,5.000000,5.000000,3290.000000

Questions I would like to answer:  
1) What are the average overall reviews and variance for different beer styles?  
2) Is ABV correlated to overall review score?  
3) Which breweries have the most reviews and does this correlate with an increase or decrease of overall review score?

## Average Overall Score for Style

We can make a new dataframe with all the information in a useful order (sorted by mean descending) we want by chaining functions.

In [82]:
style_data = (data
             .groupby('Style', as_index=False)['review_overall']
             .agg(['mean', 'std'])
             .sort_values('mean', ascending=False)
             .assign(num_of_reviews = lambda x: data.groupby(['Style'])['number_of_reviews'].sum())
             )

In [85]:
style_data.head(10)

                               mean       std  num_of_reviews
Style
IPA - New England          4.435296  0.153451             724
Wild Ale                   4.233521  0.222140            5219
Stout - American Imperial  4.178492  0.192530           23316
Lambic - Traditional       4.139164  0.349601             878
IPA - Imperial             4.090109  0.253199           33253
Pale Ale - American        4.085476  0.248513           11299
IPA - American             4.078092  0.267497           34260
Stout - Russian Imperial   4.056102  0.268708           17332
Farmhouse Ale - Saison     4.052977  0.164337           10769
Porter - Imperial          4.052149  0.269152            3303

In [86]:
style_data.tail(10)

                             mean       std  num_of_reviews
Style
Happoshu                 3.309707  0.770303             118
Kvass                    3.295742  0.479096             199
Chile Beer               3.287831  0.648476            1649
Lager - European Pale    3.181134  0.272432           11615
Lager - Japanese Rice    3.154343  0.565730            1060
Lager - Adjunct          3.002296  0.419401           16343
Lager - European Strong  2.851297  0.432513            1782
Lager - Light            2.736691  0.407554            9287
Low Alcohol Beer         2.607944  0.526681             804
Lager - Malt Liquor      2.479296  0.474661            2608